:root{
  --basicgrey: #bebebe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container{
  display: grid;
     grid-template-areas: "header"
                            "hero" 
                            "main"
                            "aside" 
                            "footer";

}
body{
  margin:0 rem;
  background-color: #5e5e5e;
}

hero{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #392032;
}


hero{
  align-items: center;
  display: flex;
    /*background-image: url("https://picsum.photos/600/400?grayscale");
    background-repeat: no-repeat;
        background-size: cover;
    background-position: bottom;
    background-color:var(--basic-grey);
    padding: 1rem;
    position: relative;
    min-height: 500px;*/
}

picture{
    position: relative;
    min-height: 500px;
    min-width:fit-content;
}


main{
  width:100%;
  height: 700px;
  text-align: center;
  padding: 10px;
  background-color: #392032;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  h1{
    color:#ffffff
  }
}

section{
  display: flex;
}
ol{
  height: 100%;
  list-style: none;
  justify-self: center;
  width: 100%;
  margin: 0 0.25rem;

}

.lenke-liste{
  border: 1px solid #ffffff;
  border-radius: 40px;
  width: 400px;
  height: 75px;
  justify-self:center;
  font-size: 40px;
  background-color: #878787;
  color: #000000;
  margin: 1rem 0;
  flex-direction: column;
  align-content: center;
  a{
    color:#ffffff;
    text-decoration: none;
  }
}
.icon-liste{
  width: 75px;
  height: 75px;
  justify-self:center;
  flex-direction: column;
  align-content: center;
  margin: 1rem 0;
}
li:hover{
  background-color: #c0c0c0;
}
