:root{
  --basicgrey: #bebebe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container{
  display: grid;
     grid-template-areas: "header"
                            "hero" 
                            "main"
                            "aside" 
                            "footer";

}
body{
  margin:0 rem;
  background-color: #5e5e5e;
}

hero{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #392032;
}


hero{
  align-items: center;
  display: flex;
    /*background-image: url("https://picsum.photos/600/400?grayscale");
    background-repeat: no-repeat;
        background-size: cover;
    background-position: bottom;
    background-color:var(--basic-grey);
    padding: 1rem;
    position: relative;
    min-height: 500px;*/
}

picture{
    position: relative;
    min-height: 500px;
    min-width:fit-content;
}


main{
  width:100%;
  height: 700px;
  text-align: center;
  padding: 10px;
  background-color: #392032;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

ol{
  height: 100%;
  list-style: none;
  justify-self: center;
  width: 100%;

}
li{
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  justify-self:center;
  font-size: 30px;
  background-color: #717171;
  color: #000000;
  margin: 0.5rem 0;
}
li:hover{
  text-decoration: underline;
  background-color: #838383;
}
table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}
